<section class="vexius-home">
  <div class="vexius-home__content">
    <div class="vexius-home__header">
      <div class="vexius-home__top-header">
        <h2 class="vexius-home__title">
          Publicações recentes
          <ng-container *ngIf="selectedTopics">
            sobre
            <span class="vexius-home__title--highlight">
              {{ selectedTopics }}
            </span>
          </ng-container>
        </h2>
        <span class="vexius-home__description">Últimas publicações</span>
      </div>
      <ul class="vexius-home__topics vexius-home__topics--mobile">
        <ng-container *ngTemplateOutlet="topicItems"></ng-container>
      </ul>
      <div class="form-control">
        <div class="input-group">
          <input
            type="text"
            [(ngModel)]="searchParams.keywords"
            (keydown.enter)="clearPosts(); getPosts()"
            placeholder="Buscar"
            class="input input-bordered outline-none flex-1 focus:outline-none h-8"
          />
          <button class="btn btn-sm" (click)="clearPosts(); getPosts()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <ul class="vexius-home__posts">
      <li *ngFor="let post of posts; last as isLast">
        <vexius-post
          [data]="post"
          [like]="post.like"
          (toggleLike)="togglePostLike(post)"
          [logged]="isLoggedIn"
          vexiusVisible
          [isTargetElement]="posts.length >= 15 && isLast"
          (elementVisible)="getMorePosts($event)"
        ></vexius-post>
      </li>
    </ul>
  </div>
  <aside class="vexius-home__aside">
    <div class="vexius-home__aside--fixed">
      <h3 class="vexius-home__aside-title">
        Bem vindo ao
        <strong class="vexius-home__aside-title--highlight">Vexius</strong>
      </h3>
      <p class="vexius-home__aside-description">
        Crie e publique posts em um ambiente online dinâmico e envolvente. Compartilhe seus conhecimentos, experiências e
        opiniões com uma comunidade de leitores ávidos por novos conteúdos.
      </p>
      <ul class="vexius-home__topics vexius-home__topics--desktop">
        <ng-container *ngTemplateOutlet="topicItems"></ng-container>
      </ul>
      <div class="vexius-home__contributors">
        <h5 class="vexius-home__contributors-title">O criador</h5>
        <ul class="vexius-home__contributors-list">
          <li>
            <a
              href="https://github.com/binhovsco"
              target="_blank"
              class="vexius-home__contributor-link"
              title="Robinson de Freitas"
            >
              <div class="w-12 rounded-full">
                <img
                  src="https://avatars.githubusercontent.com/u/100498296?v=4"
                />
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </aside>
</section>
<a class="vexius-home__create-post" *ngIf="isLoggedIn" [routerLink]="['/post']">
  Crie uma postagem
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 512 512"
    class="h-6 w-6"
  >
    <path
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="32"
      d="M256 112v288"
    ></path>
    <path
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="32"
      d="M400 256H112"
    ></path>
  </svg>
</a>

<ng-template #topicItems>
  <li *ngFor="let topic of topics">
    <vexius-topic
      [data]="topic"
      (toggle)="handleTopicSelection(topic, $event)"
    ></vexius-topic>
  </li>
</ng-template>
