<div class="vexius-create">
  <header class="vexius-create__header">
    <h2 class="vexius-create__message">Esse é seu espaço</h2>
    <p class="vexius-create__description">
      Se inspire, crie um título cativante e compartilhe seu conhecimento com a
      comunidade. Suas ideias são valiosas!
    </p>
  </header>
  <form [formGroup]="post" (ngSubmit)="submit()" class="vexius-create__form">
    <input
      class="vexius-create__title"
      type="text"
      placeholder="Título"
      formControlName="title"
    />
    <ul class="vexius-create__topics">
      <li *ngFor="let topic of topics">
        <vexius-topic
          [data]="topic"
          [disabled]="false"
          (toggle)="topic.selected = !topic.selected"
        ></vexius-topic>
      </li>
    </ul>
    <section class="vexius-create__content">
      <ckeditor
        [editor]="editor"
        [config]="config"
        formControlName="content"
      ></ckeditor>
    </section>
    <footer class="vexius-create__footer">
      <button type="submit" class="vexius-create__submit">Enviar</button>
    </footer>
  </form>
</div>
